<div class="container">
<div class="jumbotron">
        <h2>Self Help in Call Logging</h2>
        <p >Placing a Call is easy - just follow the steps below.</p>
      <p><a class="btn btn-success btn-lg" ng-click="mobiView(true)">Mobile View &raquo;</a></p>
    </div> 
      
   <hr>
    <br />
    <div class="row" >
         <div class="col-md-3">
                <a class="btn btn-success btn-lg" href="#/who">
                 <p> &raquo; &raquo; &raquo; Step 1 &raquo; &raquo; &raquo; </p>
                <h3>Who needs us?</h3>
           
          </a>
        </div> 
    <div class="col-md-3">
        <a class="btn btn-info btn-lg"  href="#/where">
             <p> &raquo; &raquo; &raquo; Step 2 &raquo; &raquo; &raquo; </p>
        <h3>Where is it? &nbsp;  &nbsp; &nbsp;</h3>
      
        </a>
    </div>
       <div class="col-md-3">
        <a class="btn btn-primary btn-lg"  href="#/where">
              <p> &raquo; &raquo; &raquo; Step 3 &raquo; &raquo; &raquo; </p>
        <h3>What is it?  &nbsp; &nbsp; &nbsp; &nbsp;</h3>
     
        </a>
    </div>     

        </div>
    <br />
<hr>
    
    <div class="row">

            <div class="col-md-3">
                <h2>Who needs us?</h2>
                <p>This tells us who we need to assist.</p>
                <p><a class="btn btn-success btn-lg" href="#/who">Admin work &raquo;</a></p>
            </div>
    <div class="col-md-3">
        <h2>Where is it? </h2>
        <p> Provide us with the Location</p>

        <p><a class="btn btn-danger btn-lg"  href="#/where">Location Selection  &raquo;</a></p>
    </div>
            <div class="col-md-3">
                <h2>What is it?</h2>
               <p> Give us some details of the need</p>
              
                <p><a class="btn btn-primary btn-lg"  href="#/what">Give us the details&raquo;</a></p>
            </div>

        </div>
    <br />
<p><a class="btn btn-success btn-lg" href="#/">Back &laquo;</a></p>
    </div> 