<div class="container">
<h2>Customer's Orders</h2>
<table class="table">
    <tr>
        <th>Sales Order</th>
        <th>Product</th>
        <th>Detail</th>
        <th>Total</th>
    </tr>
<tr class="active">
  <td >123</td>
  <td >A101050</td>
  <td >Wall Surface</td>
  <td >2500</td>
</tr>
    <tr class="info">
  <td >128</td>
  <td >A101</td>
  <td >Door lock replace</td>
  <td >300</td>
</tr>
    <tr class="active">
  <td >131</td>
  <td >A1010</td>
  <td >Paint wall </td>
  <td >800</td>
</tr>
    <tr class="info">
  <td >155</td>
  <td >A101050</td>
  <td >Wall Surface</td>
  <td >2500</td>
</tr>
</table>
<p><a class="btn btn-success btn-lg" href="#/">Back &laquo;</a></p>
</div>